.userDashboard {
  width: 100%;
  height: 100%;
}

.navBar {
  transition: transform 1s ease-out;
}

.adminDashBoard {
  /* padding: 10px; */
  width: 100%;
  justify-content: center;
}

.ticketdetails {
  margin: 10px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  overflow-y: auto;
}

.title {
  margin: 0;
  font-size: 24px;
  color: #0a356b;
  font-weight: 600;
}

.detailsDiv {
  width: 100%;

  min-height: 48px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}

.detailtitle {
  margin: 2px;
  font-size: 17px;
  /* border: 2px solid green ; */

}

.buttonDiv {
  width: 100%;
  min-height: 60px;
  margin: auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  /* border: 3px solid green; */
}

.detail {
  font-size: 14px;
  margin-left: 12px;
}

.detaildField {
  margin-top: 3px;
  word-break: break-all;
  width: 70%;
  max-width: 500px;
  min-height: 44px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 7px;
  align-items: flex-start;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.detailRequirement {
  font-size: 14px;
  margin-right: 11px;
  margin-left: 12px;
  margin-top: 15px;
}

.button {
  width: 120px;
  height: 54px;
  border-radius: 10px;
  background-color: #22b30c;
  color: white;
  display: grid;
  place-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.approveRrejectbtn {
  width: 130px;
  height: 44px;
  border-radius: 7px;
  background-color: #06a711;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}

.estimate {
  margin-top: 15px;
}
.error:focus-visible {
  outline-color: red !important;
}

.textField {
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  border: 1px #a7a7a7 solid;
  border-radius: 7px;
  padding: 8px 26px;
  font-size: 15px;
  margin-left: 0;
}

.closeBtn {
  color: red !important;
}

.closeBtn:hover {
  background-color: red !important;
  color: white !important;
}

.confirmBtn {
  color: #0d75f8 !important;
}

.confirmBtn:hover {
  color: white !important;
  background-color: #0d75f8 !important;
}

.button:hover {
  background-color: rgba(230, 237, 226, 0.9);
}

.button:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(65, 90, 144, 1);
}

.history{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 29px 0 rgb(59 59 59 / 20%);
  float: right;
  margin-right: 40px;
  max-height: 495px;
  min-height: 495px;
  overflow-y: auto;
  width: 520px;
}

.history::-webkit-scrollbar {
width: 6px;
background-color: #dadada;
}

.history::-webkit-scrollbar-thumb {
border-radius: 10px;
}
.history::-webkit-box-shadow{
inset :0 0 6px rgba(185, 185, 185, 0.3);
background-color: rgb(145, 145, 145);
}

@media screen and (min-width: 1300px) {
  .detailsDiv {
    width: 75%;
  }
}

@media screen and (max-width: 1300px) {
  .buttonDiv {
    width: 100%;
  }

  .detailsDiv{
    width: 88%;
  }
  .history{
    margin-right: 10px;
  }
}

@media screen and (max-width: 950px) {
  .detailsDiv {
    width: 85%;
  }
  .history{
    margin-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  .detailsDiv {
    flex-direction: column;
    align-items: flex-start;
  }

  .detaildField {
    width: 100%;
    max-width: 700px;
  }
  .history{
    min-height: 100%;
    overflow-y:auto;
  }
}

@media screen and (max-width: 550px) {
  .buttonDiv {
    justify-content: none;
    flex-direction: column;
    width: 70%;
  }

  .ticketdetails {
    width: 85%;
  }

  .approveRrejectbtn {
    width: 100%;
    font-size: 15px;
    margin-right: 20px;
    height: 47px;
  }

  .stepper {
    width: 75%;
    min-width: none;
    overflow-x: auto;
    scroll-snap-type: step;
  }

  .detailtitle {
    font-size: 15px;
  }

  .detaildField {
    min-height: 39px;
  }

  .detail {
    font-size: 15px;
    margin-left: 12px;
  }

  .detailRequirement {
    font-size: 15px;
  }
  .history{
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 28px;
  }

  .detailtitle {
    font-size: 15px;
  }

  .ticketdetails {
    width: 70%;
  }
  .history{
    display: none;
  }
}
