.body {
  background-color: #f7f9fb;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/Vector\ 1.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  /* background-position: fixed; */
  position: relative;
}
.logo {
  position: fixed;
  top: 4.1vw;
  width: 20vw;
  left: 6.8vw;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: red;       */
}

.imgBox {
  width: 60vw;
  /* background-color: green; */
  height: 100vh;
  display: grid;
  place-content: center;
}

.buttonBox {
  width: 40vw;
  height: 90vh;
  /* background-color: blue; */
  display: grid;
  place-content: center;
}
.loginImage {
  width: 60vh;
}

.signInButton {
  height: 55px;
  width: 350px;
  background-color: white;
  box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: grid;
  place-content: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
   border:none

 
}

.gIcon{
  /* width:30p */
  margin-right: 10px;
  width: 25px;
}

.signInButton:hover {
  background-color: rgba(239, 239, 240, 0.1);
}



/** mediaquery portion */

/**------------------------------------------------------------- Desktop --------------------------------------------------------------------*/

@media only screen and (max-width: 1425px) {
  .body {
    background-image: url("../../assets/background3.svg");
    background-size: 80%;
  }
}
@media only screen and (max-width: 1000px) {
  .body {
    background-image: url("../../assets/Vector\ 3.png");
    background-size: 70%;
  }
}

/**------------------------------------------------------------- Tablet --------------------------------------------------------------------*/
@media only screen and (max-width: 900px) {
  .body {
    background-image:none;
    background-size: 100%;
  }
  .logo {
    width: 30vw;
  }
  .main {
    flex-direction: column;
  }
  .imgBox {
    width: 100vw;
    height: 65vh;
    background-color: rgba(223, 230, 253, .26);
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 9%;

  }
  .buttonBox {
    width: 100vw;
    height: 45vh;
  }
  .loginImage {
    width: 40vh;
  }

  .signInButton{
    margin-bottom: 150px;
  }
  
}

/**------------------------------------------------------------- phone --------------------------------------------------------------------*/

@media only screen and (max-width: 560px) {
  .body {
    background-image: none;
    background-size: 100%;
  }

  .logo {
    width: 40vw;
    top: 6.1vw;
  }
  .signInButton {
    width: 80vw;
    margin: 2vw;
    height: 50px;
    margin-bottom: 150px;
    max-width: 350px;
  }
}
